
body {
background: linear-gradient(135deg, #0f0f0f, #1c1c1c, #2a2a2a);
overflow-x: hidden;
}
.navbar {
    display: flex;
    text-decoration: none;
    justify-content: flex-end;
    list-style: none;
    margin: 16px auto;
    padding: 0;
    padding-bottom: 10px;
    background-color: #0e0c0c;
    color: #ffffff;
    border-radius: 5px;
    border-top: 8px solid #0e0c0c;
    box-sizing: border-box;
}
.navbar a{
     text-decoration: none;
    color: rgb(255, 255, 255);
    padding: 7px 10px;
    border-bottom: 5px ; 
    transition: 0.3s; 
}
.navbar a:hover {
    border-bottom: 3px solid #ff4500;
}
.image-porto img{
    position:absolute;
    top: 120px;
    right: 120px;
    width: 220px;
    height: 220px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 3-px;
    margin-left: auto;
    border-radius: 100%;
    object-fit: cover;
    float: right;
}
.font-gede{
    font-family: sans-serif;
    text-shadow: 0 0 20px white;
    display: block;
    justify-content: space-between;
    align-items: left;
    margin: 0;
    color: white;
}
.baris-1, .baris-2{
    display: block;
    font-size: 32px;
    overflow: hidden;
    white-space: nowrap;
    width: 0;
    padding: 20px 0;
    margin-bottom: -10px;
    margin-top: -30px;
    animation: ketik-muncul 1s steps(10) forwards;

}
.baris-1, .baris-2 {
    font-size: 34px;
    text-shadow: 
    0 0 10px rgba(255, 255, 255, 0.8),
    0 0 20px rgba(255, 255, 255, 0.5),
    0 0 30px rgba(255, 255, 255, 0.3);
}

.baris-1 {
    animation: ketik-muncul 2s steps(10) forwards;
    animation-delay: 1.5s;
}

.baris-2 {
    animation: ketik-muncul 2s steps(15) forwards;
    animation-delay: 1.5s; 
}
@keyframes ketik-muncul {
    from{width: 0;}
    to {width: 400px;}
}

.bawah-font-gede{
    font-family: sans-serif;
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    color:#ccc;
    font-size: 22px;
}
.bawah-font-gede span{
    color: #00eaff;
    font-weight: bold;;
    text-shadow: 0 0 10px #00eaff;
    margin-top: 2px;
}
.my{
    margin-bottom: 15px;
    display: block;
    margin-bottom: 10px;
}
.project{

    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color:#ccc;
    text-align: center;
    font-weight: bold;
    font-size: 28px;
    margin-top: 50px;
}
.line{
    width: 100%;
    height: 12px;
    background: #ccc;
    margin: 30px 0;
}
.project-list {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
}

.project-card {
    width: 200px;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ccc;
    font-size: 14px;
    text-align: center;
}

